<section class="resume-section" id="hobbies">
    <div class="resume-section-content">
        <h2 class="mb-5">@HobbiesTitle</h2>
        <p>@HobbiesText</p>
    </div>
</section>
@code {
    [Parameter]
    public string HobbiesTitle { get; set; }

    [Parameter]
    public string HobbiesText { get; set; }
}
